<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
<!--  <strong>Title:</strong>-->
  <%#= @campaign.title %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Purpose:</strong>-->
  <%#= @campaign.purpose %>
<!--</p>-->

<h2 class="todo_list_title"><%= @campaign.title %></h2>
<p class="todo_list_sub_title"><%= @campaign.purpose %></p>

<p>
  <strong>Estimated duration:</strong>
  <%= @campaign.estimated_duration %>
</p>

<p>
  <strong>User:</strong>
  <%= @campaign.user %>
</p>




<div id="todo_items_wrapper">
  <%= render @campaign.todo_items %>
  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>

<div class="links">
<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
</div>