<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
<!--  <strong>Title:</strong>-->
  <%#= @campaign.title %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Purpose:</strong>-->
  <%#= @campaign.purpose %>
<!--</p>-->

<h2 class="todo_list_title"><%= @campaign.title %></h2>
<p class="todo_list_sub_title"><%= @campaign.purpose %></p>

<p>
  <strong>Estimated duration:</strong>
  <%= @campaign.estimated_duration %>
</p>
<!--<p><small>Tags: <%#= raw @campaign.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small></p>-->
<a href="#" class="badge badge-secondary">Yes</a>

<p id="post_tag_ids"><small>Tags: <%= raw @campaign.tags.map(&:name).map { |t| t }.join(', ') %></small></p>
  <p>
  <strong>User:</strong>
  <%= @campaign.user.name %>
</p>

<div id="todo_items_wrapper">
  <%= render @campaign.todo_items %>
  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>

<br><br><br><br>
<section class="section comments">
  <div class="container">

    <% if @campaign.comments.count != 0 %>
    <h2 class="subtitle is-5"><strong><%= @campaign.comments.count %></strong> Comments</h2>
    <% end %>
    <%= render @campaign.comments %>
    <div class="comment-form">
      <hr />
<!--      <h3 class="subtitle is-3">Leave a reply</h3>-->
      <%= render 'comments/form' %>
    </div>
  </div>
</section>


<div class="links">
<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
</div>